<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/items" method="post">
        <div class="container">

            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter Name" name="name" id="name" required>

            <label for="category"><b>Category</b></label>
            <input type="text" placeholder="Enter Category" name="category" id="category" required>

            <label for="description"><b>Description</b></label>
            <input type="text" placeholder="description" name="description" id="description" required>

            <label for="price"><b>Price</b></label>
            <input type="number" placeholder="Enter price" name="price" id="price" required>

            <hr>

            <button type="submit" class="registerbtn">Submit</button>
        </div>

    </form> 
</body>
</html>