<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <form action="/register" method="post">
        <div class="container">
            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>

            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter Name" name="name" id="name" required>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>

            <label for="rollno"><b>Roll No.</b></label>
            <input type="text" placeholder="Enter rollno" name="rollno" id="rollno" required>

            <label for="stype"><b>Student Type</b></label>
            <input type="text" placeholder="Enter stype" name="stype" id="stype" required>

            <label for="active"><b>Active</b></label>
            <input type="text" placeholder="Active" name="active" id="active" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required>

            <label for="cpassword"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="cpassword" id="cpassword" required>
            <hr>

            <button type="submit" class="registerbtn">Register</button>
        </div>

    </form> 
</body>
</html>